#root {
  width: 100%;
}

body {
  width: 100%;
}

.section-container {
  display: flex;
  flex-direction: column;
  /* margin-inline: 1vw; */
  width: 100vw;
}

.icon-link-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.large-icon {
  font-size: 48px;
}

.huge-icon {
  font-size: 64px;
}

a:hover svg {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

.carousel-card:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh; /* ensures full height */
}

a > .carousel-card {
  display: inline-block;
}

.hero {
  padding-top: 68px;
}

.carousel-card .carousel-inner {
  min-height: 250px;
  max-height: 250px;
  object-fit: cover;
}